{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
{% include '__partials/__page_title.html' %}
{% include '__partials/__divider.html' %}
<div class="ui middle aligned center aligned grid container">
	<div class="ten wide column">
		<div class="ui raised segment">
			<div class="ui green message">
				<p>Your Password Has Been Changed.</p>
			</div>
		</div>
		<div class="ui padded basiic segment">
			<a href="{% url 'index' %}">
				<button class="ui large button" type="submit">Home</button>
			</a>
		</div>
	</div>
</div>
{% include '__partials/__padding_footer.html' %}
{% endblock content %}