{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
{% include '__partials/__page_title.html' %}
{% include '__partials/__divider.html' %}
<div class="ui middle aligned center aligned grid container">
    <div class="ten wide column">
        <div class="ui green raised segment">
            <form class="ui form" method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="ui padded basic segment">
                    {% for field in form %}
                    <div class="field">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <input class="ui button" type="submit" value="Change Password"/>
            </form>
        </div>
    </div>
</div>
{% include '__partials/__padding_footer.html' %
{% endblock content %}