<div class="ui tertiary segment center aligned fluid container">
    <div class="ui grid">
        <div class="eleven wide column">
            <p>
                <i class="copyright outline icon"></i>
                Ahmad Muhammad Waddah - 2022 - All rights reserved.
            </p>
        </div>
        <div class="five wide column">
            <p>
                <i class="large cc amex icon"></i>
                <i class="large cc mastercard icon"></i>
                <i class="large cc visa icon"></i>
                <i class="large cc stripe icon"></i>
                <i class="large cc discover icon"></i>
                <i class="large cc paypal icon"></i>
            </p>
        </div>
    </div>
</div>