<div class="ui very padded tertiary segment">
    <div class="ui grid container">
        <div class="six wide column">
            <div class="ui list">
                <div class="item">
                    <i class="building icon"></i>
                    <div class="content">
                        <p class="header">Head & Sales Office</p>
                    </div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">1 Charles Xavir, New Orliens, Berlin.</div>
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    <div class="content">+20 114 159 169 5</div>
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    <div class="content">
                        <a href="mailto:wddh.ahmd@gmail.com">wddh.ahmd@gmail.com</a>
                    </div>
                </div>
                <div class="item">
                    <i class="industry icon"></i>
                    <div class="content">
                        <p class="header">Factory</p>
                    </div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">1 Charles Xavir, New Orliens, Berlin.</div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui link list">
                <div class="active item">Standards</div>
                <a class="item" href="{% url 'development_milestone' %}">Child Development & Milestones</a>
                <a class="item" href="{% url 'safety_cetificates' %}">Safety & Certificates</a>
                <a class="item" href="{% url 'room_concepts' %}">Room Concept Idea</a>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui link list">
                <div class="active item">More Information</div>
                <a class="item" href="{% url 'history' %}">History</a>
                <a class="item" href="{% url 'vision_mission' %}">Vision & Mission</a>
                <a class="item" href="{% url 'sales_offices' %}">Contact Us</a>
            </div>
        </div>
    </div>
</div>
