<div id="Social-Fixed" class="ui raised green segment">
    <div class="ui vertical icon menu">
        <a href="https://www.facebook.com/" class="item">
            <i class="green large facebook square icon"></i>
        </a>
        <a href="https://twitter.com/" class="item">
            <i class="green large twitter square icon"></i>
        </a>
        <a href="https://www.pinterest.com/" class="item">
            <i class="green large pinterest square icon"></i>
        </a>
        <a href="https://www.youtube.com/" class="item">
            <i class="green large youtube icon"></i>
        </a>
        <a href="https://web.whatsapp.com/" class="item">
            <i class="green large whatsapp square icon"></i>
        </a>
    </div>
</div>