{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
{% include '__partials/__page_title.html' %}
{% include '__partials/__divider.html' %}
<div class="ui container">
    <div class="ui grid">
        <div class="column">
            <div class="ui green raised segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image">
            </div>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui justified container">
    <div class="ui grid">
        <div class="column">
            <div class="ui styled fluid accordion">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    From Birth To One Year.
                </div>
                <div class="active content">
                    <div class="ui padded basic segment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Turpis tincidunt id aliquet risus. Pellentesque dignissim
                            enim sit amet. Ultricies mi quis hendrerit dolor magna. Duis convallis convallis tellus id
                            interdum velit laoreet id. Ut tristique et egestas quis ipsum. Sed sed risus pretium quam
                            vulputate dignissim suspendisse in. Mauris a diam maecenas sed enim ut sem viverra aliquet.
                            Est lorem ipsum dolor sit amet consectetur adipiscing. Et ultrices neque ornare aenean
                            euismod. Vitae turpis massa sed elementum tempus egestas sed sed risus.</p>
                        <p>Nisl condimentum id venenatis a condimentum vitae. Enim ut sem viverra aliquet eget sit amet
                            tellus cras. Tortor at auctor urna nunc id cursus metus aliquam. Non enim praesent elementum
                            facilisis leo vel fringilla est ullamcorper. Ultrices in iaculis nunc sed augue lacus. Id
                            venenatis a condimentum vitae sapien. Vel fringilla est ullamcorper eget nulla facilisi
                            etiam dignissim. Nunc faucibus a pellentesque sit amet porttitor. Aliquam ultrices sagittis
                            orci a scelerisque purus semper. Arcu cursus vitae congue mauris. At elementum eu facilisis
                            sed odio.</p>
                        <p>Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sed
                            enim ut sem viverra aliquet eget sit amet tellus. Ullamcorper a lacus vestibulum sed. Vitae
                            congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Neque egestas congue
                            quisque egestas diam in arcu. Semper feugiat nibh sed pulvinar proin gravida hendrerit
                            lectus. Semper eget duis at tellus. Urna et pharetra pharetra massa massa ultricies mi quis
                            hendrerit. Etiam erat velit scelerisque in dictum non consectetur. Molestie a iaculis at
                            erat pellentesque. Felis imperdiet proin fermentum leo vel orci. Pellentesque diam volutpat
                            commodo sed. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.
                            Elementum sagittis vitae et leo. Fames ac turpis egestas maecenas pharetra convallis
                            posuere. Id eu nisl nunc mi ipsum faucibus.</p>
                        <p>Ut sem viverra aliquet eget. Tortor at auctor urna nunc id cursus. Velit egestas dui id
                            ornare arcu. Morbi non arcu risus quis varius quam quisque id diam. Donec enim diam
                            vulputate ut. Faucibus a pellentesque sit amet porttitor eget. Sit amet dictum sit amet
                            justo donec enim. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Blandit aliquam
                            etiam erat velit scelerisque in dictum non consectetur. Ornare suspendisse sed nisi lacus
                            sed viverra tellus. Odio ut sem nulla pharetra diam sit amet nisl suscipit. Tortor at risus
                            viverra adipiscing at in tellus. Tristique nulla aliquet enim tortor at. Rhoncus mattis
                            rhoncus urna neque. Odio aenean sed adipiscing diam donec adipiscing tristique risus nec.
                            Faucibus nisl tincidunt eget nullam. Egestas integer eget aliquet nibh praesent. Enim
                            blandit volutpat maecenas volutpat blandit aliquam etiam. Orci sagittis eu volutpat odio
                            facilisis. Tellus in metus vulputate eu scelerisque felis imperdiet proin.</p>
                    </div>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    From One Year To Three Years.
                </div>
                <div class="content">
                    <div class="ui padded basic segment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Turpis tincidunt id aliquet risus. Pellentesque dignissim
                            enim sit amet. Ultricies mi quis hendrerit dolor magna. Duis convallis convallis tellus id
                            interdum velit laoreet id. Ut tristique et egestas quis ipsum. Sed sed risus pretium quam
                            vulputate dignissim suspendisse in. Mauris a diam maecenas sed enim ut sem viverra aliquet.
                            Est lorem ipsum dolor sit amet consectetur adipiscing. Et ultrices neque ornare aenean
                            euismod. Vitae turpis massa sed elementum tempus egestas sed sed risus.</p>
                        <p>Nisl condimentum id venenatis a condimentum vitae. Enim ut sem viverra aliquet eget sit amet
                            tellus cras. Tortor at auctor urna nunc id cursus metus aliquam. Non enim praesent elementum
                            facilisis leo vel fringilla est ullamcorper. Ultrices in iaculis nunc sed augue lacus. Id
                            venenatis a condimentum vitae sapien. Vel fringilla est ullamcorper eget nulla facilisi
                            etiam dignissim. Nunc faucibus a pellentesque sit amet porttitor. Aliquam ultrices sagittis
                            orci a scelerisque purus semper. Arcu cursus vitae congue mauris. At elementum eu facilisis
                            sed odio.</p>
                        <p>Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sed
                            enim ut sem viverra aliquet eget sit amet tellus. Ullamcorper a lacus vestibulum sed. Vitae
                            congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Neque egestas congue
                            quisque egestas diam in arcu. Semper feugiat nibh sed pulvinar proin gravida hendrerit
                            lectus. Semper eget duis at tellus. Urna et pharetra pharetra massa massa ultricies mi quis
                            hendrerit. Etiam erat velit scelerisque in dictum non consectetur. Molestie a iaculis at
                            erat pellentesque. Felis imperdiet proin fermentum leo vel orci. Pellentesque diam volutpat
                            commodo sed. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.
                            Elementum sagittis vitae et leo. Fames ac turpis egestas maecenas pharetra convallis
                            posuere. Id eu nisl nunc mi ipsum faucibus.</p>
                        <p>Ut sem viverra aliquet eget. Tortor at auctor urna nunc id cursus. Velit egestas dui id
                            ornare arcu. Morbi non arcu risus quis varius quam quisque id diam. Donec enim diam
                            vulputate ut. Faucibus a pellentesque sit amet porttitor eget. Sit amet dictum sit amet
                            justo donec enim. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Blandit aliquam
                            etiam erat velit scelerisque in dictum non consectetur. Ornare suspendisse sed nisi lacus
                            sed viverra tellus. Odio ut sem nulla pharetra diam sit amet nisl suscipit. Tortor at risus
                            viverra adipiscing at in tellus. Tristique nulla aliquet enim tortor at. Rhoncus mattis
                            rhoncus urna neque. Odio aenean sed adipiscing diam donec adipiscing tristique risus nec.
                            Faucibus nisl tincidunt eget nullam. Egestas integer eget aliquet nibh praesent. Enim
                            blandit volutpat maecenas volutpat blandit aliquam etiam. Orci sagittis eu volutpat odio
                            facilisis. Tellus in metus vulputate eu scelerisque felis imperdiet proin.</p>
                    </div>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    From Four Years To Six Years.
                </div>
                <div class="content">
                    <div class="ui padded basic segment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Turpis tincidunt id aliquet risus. Pellentesque dignissim
                            enim sit amet. Ultricies mi quis hendrerit dolor magna. Duis convallis convallis tellus id
                            interdum velit laoreet id. Ut tristique et egestas quis ipsum. Sed sed risus pretium quam
                            vulputate dignissim suspendisse in. Mauris a diam maecenas sed enim ut sem viverra aliquet.
                            Est lorem ipsum dolor sit amet consectetur adipiscing. Et ultrices neque ornare aenean
                            euismod. Vitae turpis massa sed elementum tempus egestas sed sed risus.</p>
                        <p>Nisl condimentum id venenatis a condimentum vitae. Enim ut sem viverra aliquet eget sit amet
                            tellus cras. Tortor at auctor urna nunc id cursus metus aliquam. Non enim praesent elementum
                            facilisis leo vel fringilla est ullamcorper. Ultrices in iaculis nunc sed augue lacus. Id
                            venenatis a condimentum vitae sapien. Vel fringilla est ullamcorper eget nulla facilisi
                            etiam dignissim. Nunc faucibus a pellentesque sit amet porttitor. Aliquam ultrices sagittis
                            orci a scelerisque purus semper. Arcu cursus vitae congue mauris. At elementum eu facilisis
                            sed odio.</p>
                        <p>Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Sed
                            enim ut sem viverra aliquet eget sit amet tellus. Ullamcorper a lacus vestibulum sed. Vitae
                            congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Neque egestas congue
                            quisque egestas diam in arcu. Semper feugiat nibh sed pulvinar proin gravida hendrerit
                            lectus. Semper eget duis at tellus. Urna et pharetra pharetra massa massa ultricies mi quis
                            hendrerit. Etiam erat velit scelerisque in dictum non consectetur. Molestie a iaculis at
                            erat pellentesque. Felis imperdiet proin fermentum leo vel orci. Pellentesque diam volutpat
                            commodo sed. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.
                            Elementum sagittis vitae et leo. Fames ac turpis egestas maecenas pharetra convallis
                            posuere. Id eu nisl nunc mi ipsum faucibus.</p>
                        <p>Ut sem viverra aliquet eget. Tortor at auctor urna nunc id cursus. Velit egestas dui id
                            ornare arcu. Morbi non arcu risus quis varius quam quisque id diam. Donec enim diam
                            vulputate ut. Faucibus a pellentesque sit amet porttitor eget. Sit amet dictum sit amet
                            justo donec enim. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Blandit aliquam
                            etiam erat velit scelerisque in dictum non consectetur. Ornare suspendisse sed nisi lacus
                            sed viverra tellus. Odio ut sem nulla pharetra diam sit amet nisl suscipit. Tortor at risus
                            viverra adipiscing at in tellus. Tristique nulla aliquet enim tortor at. Rhoncus mattis
                            rhoncus urna neque. Odio aenean sed adipiscing diam donec adipiscing tristique risus nec.
                            Faucibus nisl tincidunt eget nullam. Egestas integer eget aliquet nibh praesent. Enim
                            blandit volutpat maecenas volutpat blandit aliquam etiam. Orci sagittis eu volutpat odio
                            facilisis. Tellus in metus vulputate eu scelerisque felis imperdiet proin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '__partials/__padding_footer.html' %}
{% endblock content %}
