{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
{% include '__partials/__page_title.html' %}
{% include '__partials/__divider.html' %}
<div class="ui relaxed column justified grid container">
    <div class="column">
        <div class="ui tertiary segment">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Congue nisi vitae suscipit tellus mauris a diam maecenas. Elementum integer enim
                neque volutpat ac tincidunt vitae. Accumsan tortor posuere ac ut consequat. Lorem donec massa sapien
                faucibus et molestie. Ut pharetra sit amet aliquam id diam maecenas ultricies. Neque vitae tempus quam
                pellentesque nec nam aliquam. Ultrices vitae auctor eu augue ut. Eget egestas purus viverra accumsan.
                Iaculis at erat pellentesque adipiscing commodo. Elementum integer enim neque volutpat ac tincidunt. Ac
                auctor augue mauris augue neque gravida. Est sit amet facilisis magna etiam. Mi tempus imperdiet nulla
                malesuada pellentesque elit. In vitae turpis massa sed elementum tempus egestas sed sed. At augue eget
                arcu dictum varius. Vitae turpis massa sed elementum tempus egestas sed sed. Nam aliquam sem et tortor.
                Ornare arcu dui vivamus arcu felis bibendum ut. Tempor orci dapibus ultrices in iaculis nunc sed augue
                lacus.</h4>
        </div>
        {% for term in terms %}
        <div class="ui segments">
            <div class="ui center aligned segment">
                <h3 class="FntFmly">{{ term.name }}</h3>
            </div>
            <div class="ui secondary segment">
                <p class="FntFmly">{{ term.condition }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include '__partials/__padding_footer.html' %}
{% endblock content %}
