{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
<div class="ui relaxed grid container">
    <div class="sixteen wide center aligned column">
        <div class="ui cube shape SlideMyImg">
            <div class="sides">
                <div class="side">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
                <div class="side active">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            <img src="{% static 'images/globe.jpg' %}" class="ui huge image"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui container">
    <div class="ui relaxed equal width grid">
        <div class="row">
            <div class="column">
                <div class="ui centered card">
                    <div class="image">
                        <a href="#">
                            <img src="{% static 'images/Anonymus.png' %}" class="ui centered fluid image"/>
                        </a>
                    </div>
                    <div class="center aligned content">
                        <a href="#" class="header"> First Item Toy</a>
                    </div>
                    <div class="center aligned description">
                        Some Dummy Toys Paragragh
                    </div>
                    <div class="center aligned extra content">
                        <button class="ui small button">Add To Basket</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui centered card">
                    <div class="image">
                        <a href="#">
                            <img src="{% static 'images/Anonymus.png' %}" class="ui centered fluid image"/>
                        </a>
                    </div>
                    <div class="center aligned content">
                        <a href="#" class="header"> First Item Toy</a>
                    </div>
                    <div class="center aligned description">
                        Some Dummy Toys Paragragh
                    </div>
                    <div class="center aligned extra content">
                        <button class="ui small button">Add To Basket</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui centered card">
                    <div class="image">
                        <a href="#">
                            <img src="{% static 'images/Anonymus.png' %}" class="ui centered fluid image"/>
                        </a>
                    </div>
                    <div class="center aligned content">
                        <a href="#" class="header"> First Item Toy</a>
                    </div>
                    <div class="center aligned description">
                        Some Dummy Toys Paragragh
                    </div>
                    <div class="center aligned extra content">
                        <button class="ui small button">Add To Basket</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centered column">
            <div class="ui padded basic segment">
                <button class="ui large button">View All</button>
            </div>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui container">
    <div class="ui center relaxed grid">
        <div class="column">
            <div class="ui horizontal segments">
                <div class="ui padded green raised center aligned segment">
                    <img src="{% static 'images/about.png' %}" class="ui image"/>
                    <h3>
                        <a href="#">Wholesales and B2B Click to send us your message.</a>
                    </h3>
                </div>
                <div class="ui padded green raised center aligned segment">
                    <img src="{% static 'images/about.png' %}" class="ui image"/>
                    <h3>
                        <a href="#">Schools and Nurseries Click to send us your message.</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui container">
    <div class="ui relaxed middle aligned columns grid">
        <div class="nine wide column">
            <img src="{% static 'images/about.png' %}" class="ui fluid image"/>
        </div>
        <div class="seven wide column">
            <div class="ui medium header">
                <p>We design and produce</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet risus feugiat in ante. Metus aliquam eleifend mi in nulla posuere
                sollicitudin. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Orci a scelerisque purus
                semper eget. Vitae tempus quam pellentesque nec nam. Habitasse platea dictumst quisque sagittis purus
                sit amet volutpat consequat. Volutpat lacus laoreet non curabitur gravida arcu ac.
            </p>
            <p>
                Porttitor lacus luctus accumsan tortor posuere ac ut. Et tortor consequat id porta nibh venenatis cras
                sed felis. Dignissim enim sit amet venenatis urna cursus eget nunc. Ligula ullamcorper malesuada proin
                libero nunc. Enim facilisis gravida neque convallis a cras semper. Tincidunt nunc pulvinar sapien et
                ligula ullamcorper. Duis ut diam quam nulla. Elementum pulvinar etiam non quam lacus. Non enim praesent
            elementum facilisis leo vel fringilla est.</p>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui container">
    <div class="ui relaxed center aligned grid">
        <div class="sixteen wide column">
            <img src="{% static 'images/about.png' %}" class="ui fluid image"/>
        </div>
    </div>
</div>
{% include '__partials/__divider.html' %}
<div class="ui contianer">
    <div class="ui relaxed center aligned grid">
        <div class="thirteen wide column">
            <div class="ui embed" data-source="youtube" data-id="Lx5-XtMGDsA"></div>
        </div>
    </div>
</div>
{% include '__partials/__padding_footer.html' %}
{% endblock content %}
